<!-- BEGIN CONTACT US SECTION -->
    <section id="rj-contact-us" class="section section-bgtype-image">

        <div class="section-inner">

            <div class="bg-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Свяжитесь с нами</h3>
                            <h4 class="sub-title">Не бойтесь задавать вопросы и отправлять пожелания!</h4>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-respond text-center"></div>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <form action="contact/send_mail.php" method="post" name="contact-us-form" id="contact-us-form" class="element-line validate contact-us-form" role="form">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="form-group">
                                <label for="name">Имя*</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" name="name" id="name" class="form-control required" placeholder="Введите имя">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group">
                                <label for="email">Email*</label>
                                <div class="input-group input-group-lg">
                                    <input type="email" name="email" id="email" class="form-control required email" placeholder="Введите email">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group form-group-bottom">
                                <label for="subject">Тема*</label>
                                <div class="input-group input-group-lg">
                                    <input type="text" name="subject" id="subject" class="form-control required" placeholder="Введите тему">
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="message">Введите ваше сообщение*</label>
                                <div class="input-group input-group-lg">
                                    <textarea name="message" id="message" class="form-control required" placeholder="Введите текст сообщения"></textarea>
                                </div>
                                <!-- //.input-group -->
                            </div>
                            <!-- //.form-group -->

                            <div class="form-group form-group-bottom">
                                <button id="submit" type="submit" class="btn btn-lg btn-custom">
                                    Отправить
                                </button>
                            </div>
                            <!-- //.form-group -->
                        </div>
                    </form>
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="social-icon-text text-center">
                           
                            <h4>Ищите нас в социальных сетях!</h4>
                            <ul class="social-icon-list list-unstyled list-inline text-center">
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <!-- //.social-icon-text -->
                    </div>
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->    
    </section>
    <!-- //END CONTACT US SECTION -->