<!-- BEGIN INTRO SECTION -->
    <section id="rj-intro">

        <div class="intro-body text-center">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <h1>Train4you</h1>
                        </div>

                        <div class="intro-text text-center">
                            <h2>Индивидуально! Эффективно! Быстро!</h2>

                            <p class="lead">
                                Для всех, кто хочет заниматься в зале правильно, но пока еще не знает как.
                            </p>
                        </div>

                        <div class="page-scroll">
                            <a href="#rj-who-we-are" class="btn btn-lg btn-custom">Хочу узнать
                            </a>
                        </div>
                        <!-- //.page-scroll -->
                    </div>
                </div>
                <!-- //.row -->
            </div>
            <!-- //.container -->
        </div>
        <!-- //.intro-body -->
    </section>
    <!-- //END INTRO SECTION -->