<!-- BEGIN PRICING TABLES SECTION -->
    <section id="rj-pricing-tables" class="section">

        <div class="section-inner">

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Цены</h3>
                            <h3 class="sub-title">Что мы можем для вас предложить</h3>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                </div>    
                <!-- //.row -->

                <!-- BEGIN PRICING TABLES -->
                <div class="pricing-table style-one">
                    <div class="row">

                        <div class="col-md-5 col-md-offset-1 pricing-wrapper text-center not-right-column">
                            <div class="pricing-column">
                                <div class="plan-title">
                                    <h2>Для новичков</h2>
                                    <div class="pricing-box">
                                         <span class="price">
                                            <span class="symbol">₽</span>500
                                        </span>
                                        <span class="month">/ 3 месяца</span>
                                        <div class="price-info">Программа рассчитана на людей, которые занимаются в тренажерном зале менее 6 месяцев</div>
                                    </div>
                                    <!-- //.pricing-box -->
                                </div>
                                <!-- //.plan-title -->

                                <ul class="item-list">
                                    <li>План тренировок</li> 
                                    <li>План питания</li> 
                                    <li>Множество полезных рекомендаций и советов</li>
                                </ul>

                                <div class="plan-footer">
                                    <a class="btn btn-lg btn-custom" data-toggle="modal" data-target="#starter">Купить</a>
                                </div>
                                <!-- //.plan-footer -->
                            </div>
                            <!-- //.pricing-column -->
                        </div>
                        <!-- //.pricing-wrapper -->

                        <div class="col-md-5 pricing-wrapper text-center">
                            <div class="pricing-column">
                                <div class="plan-title">
                                    <h2>Для продвинутых</h2>
                                    <div class="pricing-box">
                                        <span class="price">
                                            <span class="symbol">₽</span>500
                                        </span>
                                        <span class="month">/ 3 месяца</span>
                                        <div class="price-info">Программа рассчитана на людей, которые занимаются в тренажерном зале более 6 месяцев</div>
                                    </div>
                                    <!-- //.pricing-box -->
                                </div>
                                <!-- //.plan-title -->

                                <ul class="item-list">
                                    <li>План тренировок</li> 
                                    <li>План питания</li> 
                                    <li>Множество полезных рекомендаций и советов</li>
                                </ul>
                                <div class="plan-footer">
                                    <a class="btn btn-lg btn-custom" data-toggle="modal" data-target="#advanced">Купить</a>
                                </div>
                                <!-- //.plan-footer -->
                            </div>
                            <!-- //.pricing-column -->
                        </div>
                        <!-- //.pricing-wrapper -->
                    </div>
                    <!-- //.row -->
                </div>
                <!--//END PRICING TABLES -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //END PRICING TABLES SECTION -->


   