<!-- BEGIN TESTIMONIALS SECTION -->
    <section id="rj-testimonial" class="section section-bgtype-image">

        <div class="section-inner">

            <div class="bg-overlay"></div>

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Отзывы</h2>
                            <h3 class="sub-title">Мы помогаем достигать мечты</h3>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                </div>    
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial-item not-right-column not-bottom-column">
                            <div class="testimonial-content">
                                <div class="testimonial-title">
                                    Lorem Ipsum
                                </div>
                                <!-- //.testimonial-title -->

                                <blockquote>
                                    <p>
                                        Я тут недавно купила эту программу. В общем отзанималась 3 месяца. Набрал 7кило. Без жира. Теперь фитоняшка, от парней отбоя нет! Спасибо!
                                    </p>
                                </blockquote>
                            </div>
                            <!-- //.testimonial-content -->

                            <div class="testimonial-info clearfix">
                                <img width="100" src="assets/img/rj-testimonial/testimonial-image-1.jpg" alt="" class="img-circle img-thumbnail"/>

                                <p class="testimonial-author">
                                    @Jane Doe, Jakarta
                                    <br>
                                    <em>Co-Founder at Cisco</em>
                                </p>
                            </div>
                            <!-- //.testimonial-info -->
                        </div>
                        <!-- //.testimonial-item -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-md-4">
                        <div class="testimonial-item not-right-column not-bottom-column">
                            <div class="testimonial-content">
                                <div class="testimonial-title">
                                    Lorem Ipsum
                                </div>
                                <!-- //.testimonial-title -->

                                <blockquote>
                                    <p>
                                        Скинула Пятнашку. Более чем доволен. Покупаю вторую программу.
                                    </p>
                                </blockquote>
                            </div>
                            <!-- //.testimonial-content -->

                            <div class="testimonial-info clearfix">
                                <img width="100" src="assets/img/rj-testimonial/testimonial-image-2.jpg" alt="" class="img-circle img-thumbnail"/>

                                <p class="testimonial-author">
                                    @Jane Doe, Jakarta
                                    <br>
                                    <em>Creative Director at Apple</em>
                                </p>
                            </div>
                            <!-- //.testimonial-info -->
                        </div>
                        <!-- //.testimonial-item -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-md-4">
                        <div class="testimonial-item not-bottom-column">
                            <div class="testimonial-content">
                                <div class="testimonial-title">
                                    Lorem Ipsum
                                </div>
                                <!-- //.testimonial-title -->

                                <blockquote>
                                    <p>
                                        Купила, скинула, купила, скинула. Работает!! Спасибо ребятам за поддержку!.
                                    </p>
                                </blockquote>
                            </div>
                            <!-- //.testimonial-content -->

                            <div class="testimonial-info clearfix">
                                <img width="100" src="assets/img/rj-testimonial/testimonial-image-3.jpg" alt="" class="img-circle img-thumbnail"/>

                                <p class="testimonial-author">
                                    @Jane Doe, Jakarta
                                    <br>
                                    <em>Managet at Microsoft</em>
                                </p>
                            </div>
                            <!-- //.testimonial-info -->
                        </div>
                        <!-- //.testimonial-item -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>
                <!-- //.row -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial-item not-right-column">
                            <div class="testimonial-content">
                                <div class="testimonial-title">
                                    Lorem Ipsum
                                </div>
                                <!-- //.testimonial-title -->

                                <blockquote>
                                    <p>
                                        А я вот немного скинула. всего 4 кило. Но тоже хорошо. Правда тяжело было сначала отказаться от булок. Ела, не вру. Все равно огромное спасибо!
                                    </p>
                                </blockquote>
                            </div>
                            <!-- //.testimonial-content -->

                            <div class="testimonial-info clearfix">
                                <img width="100" src="assets/img/rj-testimonial/testimonial-image-1.jpg" alt="" class="img-circle img-thumbnail"/>

                                <p class="testimonial-author">
                                    @Jane Doe, Jakarta
                                    <br>
                                    <em>Co-Founder at Cisco</em>
                                </p>
                            </div>
                            <!-- //.testimonial-info -->
                        </div>
                        <!-- //.testimonial-item -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-md-4">
                        <div class="testimonial-item not-right-column">
                            <div class="testimonial-content">
                                <div class="testimonial-title">
                                    Lorem Ipsum
                                </div>
                                <!-- //.testimonial-title -->

                                <blockquote>
                                    <p>
                                        Ну в общем чет не пошло. Лохотрон всё это. Не верю..
                                    </p>
                                </blockquote>
                            </div>
                            <!-- //.testimonial-content -->

                            <div class="testimonial-info clearfix">
                                <img width="100" src="assets/img/rj-testimonial/testimonial-image-2.jpg" alt="" class="img-circle img-thumbnail"/>

                                <p class="testimonial-author">
                                    @Jane Doe, Jakarta
                                    <br>
                                    <em>Creative Director at Apple</em>
                                </p>
                            </div>
                            <!-- //.testimonial-info -->
                        </div>
                        <!-- //.testimonial-item -->
                    </div>
                    <!-- //.col-md-4 -->

                    <div class="col-md-4">
                        <div class="testimonial-item">
                            <div class="testimonial-content">
                                <div class="testimonial-title">
                                    Lorem Ipsum
                                </div>
                                <!-- //.testimonial-title -->

                                <blockquote>
                                    <p>
                                        Огромное спасибо! Долгое время мечтала похудеть, но не знала как, а на тренера тратить деньги не хотела. Купила программу и добралась до заветных 55-ти кило! Ура!! Спасибо!
                                    </p>
                                </blockquote>
                            </div>
                            <!-- //.testimonial-content -->

                            <div class="testimonial-info clearfix">
                                <img width="100" src="assets/img/rj-testimonial/testimonial-image-3.jpg" alt="" class="img-circle img-thumbnail"/>

                                <p class="testimonial-author">
                                    @Jane Doe, Jakarta
                                    <br>
                                    <em>Managet at Microsoft</em>
                                </p>
                            </div>
                            <!-- //.testimonial-info -->
                        </div>
                        <!-- //.testimonial-item -->
                    </div>
                    <!-- //.col-md-4 -->
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-container -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!--//END TESTIMONIALS SECTION -->