 <!-- BEGIN FUNNY BOXES SECTION -->
    <section id="rj-funny-boxes" class="section">

        <div class="section-inner">

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3 class="main-title">Что вы получите</h3>
                            <h4 class="sub-title">После оплаты выбранной программы вы получите</h4>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                </div>    
                <!-- //.row -->

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="funny-box float-shadow not-right-column text-center">
                            <span class="funny-box-icon">
                                <i class="fa fa-book"></i>
                            </span>
                            <div class="funny-box-text">
                                <h4>План тренировок</h4>
                                <p>План тренировок, следуя которому, вы сможете изменить свое тело так, как давно хотели.</p>
                            </div>
                            <!-- //.funny-box-text -->
                        </div>
                        <!-- //.funny-box -->
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="funny-box float-shadow not-right-column text-center">
                            <span class="funny-box-icon">
                                <i class="fa fa-cutlery"></i>
                            </span>
                            <div class="funny-box-text">
                                <h4>План питания</h4>
                                <p>План питания, который подскажет сколько и чего нужно есть</p>
                            </div>
                            <!-- //.funny-box-text -->
                        </div>
                        <!-- //.funny-box -->
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="funny-box float-shadow text-center">
                            <span class="funny-box-icon">
                                <i class="fa fa-life-ring"></i>
                            </span>
                            <div class="funny-box-text">
                                <h4>Поддержку</h4>
                                <p>Мы будем всегда на связи, и будем вас мотивировать.</p>
                            </div>
                            <!-- //.funny-box-text -->
                        </div>
                        <!-- //.funny-box -->
                    </div>
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //END FUNNY BOXES SECTION -->