<!-- BEGIN WHO WE ARE SECTION -->
    <section id="rj-who-we-are" class="section">

        <div class="section-inner">

            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Кто мы такие?</h2>
                            <h3 class="sub-title">Некоторые вещи, которые вы явно хотите знать</h3>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                </div>
                <!-- //.row -->



                    <div class="col-md-12">
                        <div class="who-we-are-text">
                            <p class="text-center">Мы - команда разработчиков, которые при содействии с ведущими тренерами и педагогами практиками, разработали уникальный метод индивидуального составления программ тренировок </p>
                        </div>
                        <!-- //.who-we-are-text -->
                    </div>
                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //END WHO WE ARE SECTION -->