<!-- BEGIN CONTENT BOXES SECTION -->
    <section id="rj-why-us" class="section">
        <div class="section-inner">
            <div class="container section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h2 class="main-title">Чем мы отличаемся от других?</h2>
                            <h3 class="sub-title">Три причины, почему мы лучше</h3>
                            <span class="section-line"></span>
                        </div>
                        <!-- //.section-title -->
                    </div>
                </div>    
                <!-- //.row -->

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="content-box style-one top-column clearfix">
                            <span class="content-box-icon">
                                <i class="fa fa-rocket"></i> 
                            </span>
                            <div class="content-box-text">
                                <h4>Быстро!</h4>
                                <p>После оплаты программа моментально оказывается у вас на почте</p>
                            </div>
                            <!-- //.content-box-text -->
                        </div>
                        <!-- //.content-box -->
                    </div>

                    <div class="col-sm-4 col-md-4">
                        <div class="content-box style-one top-column clearfix">
                            <span class="content-box-icon">
                                <i class="fa fa-rub"></i> 
                            </span>
                            <div class="content-box-text">
                                <h4>Дешево!</h4>
                                <p>В отличие от индивидуальных тренеров, мы составляем программу в 3-4 раза дешевле, и вам даже не приходится её ждать!</p>
                            </div>
                            <!-- //.content-box-text -->
                        </div>
                        <!-- //.content-box -->
                    </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="content-box style-one bottom-column not-right-column clearfix">
                            <span class="content-box-icon">
                                <i class="fa fa-thumbs-o-up"></i> 
                            </span>
                            <div class="content-box-text">
                                <h4>Для тебя!</h4>
                                <p>Разработанный алгоритм позволяет учесть индивидуальные параметры каждого человека и сделать программу тренировок лично для Вас</p>
                            </div>
                            <!-- //.content-box-text -->
                        </div>
                        <!-- //.content-box -->
               
                    </div>
                </div>
                <!-- //.row -->              
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.section-inner -->
    </section>
    <!-- //END CONTENT BOXES SECTION -->